body {
    background-color: plum;
    margin: 70px;
    font-family: "Tahoma"

  }
  img {
    float: left;
    size: auto;
    margin-left: 40px;
    margin-right: 10px;
  }
   h1 {
     color: darkmagenta;
     font-style: italic;
    text-align: center;
    margin: 40px;
}
p{
    text-align: justify;
    margin: 40px;
}
.bolded{
    font-weight: bold;
}
.box {
    background-color: lavender;
    background-size: auto;
}
 br{
    display: block;
    margin-bottom: 2px;
    font-size:2px;
    line-height: 2px;
 }